<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="EventDrivenProgEnrollmentSystem.Properties.Settings._2324_2A_FileUploadSampleConnectionString"
            connectionString="Data Source=LAPTOP-SGTQTMFL\SQLEXPRESS01;Initial Catalog=2324_2A_FileUploadSample;Integrated Security=True;Connect Timeout=30;Encrypt=False;TrustServerCertificate=False" />
        <add name="EventDrivenProgEnrollmentSystem.Properties.Settings.EnrollmentConnectionString"
            connectionString="Data Source=LAPTOP-SGTQTMFL\SQLEXPRESS01;Initial Catalog=Enrollement;Integrated Security=True;Connect Timeout=30;Encrypt=False;TrustServerCertificate=False" />
        <add name="EventDrivenProgEnrollmentSystem.Properties.Settings.OnlyTableConnectionString"
            connectionString="Data Source=LAPTOP-SGTQTMFL\SQLEXPRESS01;Initial Catalog=OnlyTable;Integrated Security=True;Connect Timeout=30;Encrypt=False;TrustServerCertificate=False" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>